
@{
    ViewBag.Title = "WorkingArea";
}






<center>
    <h2> Welcome to the working Area of the Admin </h2>

    <ul>
        <li><a href="@Url.Action("MemberList","Team")">Team Members</a></li>

        <li><a href="@Url.Action("AllProduct","Product")">Team Members</a></li>

        <li><a href="@Url.Action("ClientList","Client")">Team Members</a></li>

        <li><a href="@Url.Action("ContactList","Admin")">Queries</a></li>

    </ul>

    <a href="@Url.Action("Index","Home")" class="btn btn-default">Back to Main Page</a>
</center>


